/* register */

body {
    margin: 0;
    height: 100vh;
    width: auto;
}

.show {
    display: 'block';
}

.hide {
    display: 'none';
}

#registerFormWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#registerForm {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#registerForm input[type="text"] {
    font-size: 0.8em;
}

#registerForm input[type="submit"] {
    width: 30%;
    margin: 5%;
    align-self: center;
}

#errorMsg {
    color: rgb(201, 111, 111);
    font-size: 0.8em;
}




/* end of register *