@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* register */

body {
    margin: 0;
    height: 100vh;
    width: auto;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
}

.show {
    display: 'block';
}

.hide {
    display:none !important;
}

#regForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

#errorMsg {
    color: #e74c3c;
    font-size: 12px;
    margin-bottom: 36px;
}

.regInputContainer {
    position: relative;
    margin-bottom: 25px;
}

.regInputContainer label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.regInputContainer input {
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: #fff;
}

.regInputContainer input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #e74c3c;
}

.regInputContainer input:focus~label,
.regInputContainer input:valid~label {
    top: -12px;
    font-size: 12px;
}

#regForm input[type=submit] {
    color: rgb(255, 255, 255);
    background-color: rgb(199, 52, 52);
    outline: none;
    border: 0;
    padding: 15px 20px;
    text-transform: uppercase;
    border-radius: 2px;
    position: relative;
    -webkit-appearance: none;
}


/* vote */

#voteView {
    height: 100vh;
}

#buttons,
#voteForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

#voteForm {
    flex-direction: column;
    height: 90vh;
    width: 100%;
}

#buttons, #resultContainer {
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.9); */
}

#aBtn,
#bBtn {
    height: 30%;
    width: 70%;
    margin: 5%;
    border: none;
    border-radius: 65px;
    font-size: 5em;
    color: white;
    text-transform: uppercase;
}

#aBtn, #resultA {
    background-image: linear-gradient(to right, #3311c9 0%, #244dbe 20%, #2655ac 71%, #3a2cbd 100%);
}

#bBtn, #resultB {
    background-image: linear-gradient(to right, #ca3434 0%, #cf402d 20%, #ec3131 71%, #ad4532 100%);
}

.option {
    color: white;
    font-size: 1.2em;
}

/* admin page css */

/* #adminMainWrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2em;
    color: white;
} */


/* results */

#resultContainer {
    /* flex: 2; */
    display: flex;
    /* width: 50%; */
    height: 22%;
    justify-content: center;
    /* position:absolute;
    top:40%;
    left:25%; */
}

.question {
    font-size: 1.2em;
    margin: 0;
    color: white;
    /* padding: 50px 10px; */
    text-align: center;
    padding: 0 20px;
}

#resultView {
    height: 100%;
    width: 100%;
}

#results {
    /* background-color: rgba(0, 0, 0, 0.9); */
    /* position:relative; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    width: 100%;
}

#resultView #results {
    height: 100%;
}

#resultText {
    /* flex: 1; */
    /* display: flex; */
    /* align-items: flex-end; */
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
}

/* #results {
    height: 100%;
    position:relative;
} */

#adminMainWrapper #resultContainer {
    padding: 50px 0 0 0;
}

#resultContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
}

.score {
    color: white;
    border-radius: 10px;
    /* width:25%; */
    margin: 0px 10px;
    padding: 4% 8%;
    font-size: 4em;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 150px;
}
#resetForm{
    margin-top: 100px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#resetButton {
    width: 100px;
    height: 50px;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.9);
    border-color: white;
    color: white;
}

#newOptionsField, #newQsField {
    display: flex;
    flex-direction: column;
    width: 300px;
}
