body {
    height: 99vh;
    margin: auto;
    width: 65%;
}
#buttons, form{
    display: flex;
    align-items: center;
    justify-content: center;
}
#voteForm {
    flex-direction: column;
    height: 90vh;
    width: 100%;
}
#aBtn,
#bBtn {
    height: 30%;
    width: 70%;
    margin: 5%;
    border: none;
    border-radius: 10px;
    font-size: 5em;
    color: white;
    text-transform: uppercase;
}
#aBtn {
    background-color: blue;
}
#bBtn {
    background-color: red;
}